############################################
# Elixir/Erlang build
############################################
/_build/
deps/
erl_crash.dump

############################################
# Editor files
############################################
*.swp
*.swo
*.bak
*~

############################################
# Environment + temp config
############################################
config/.env
.env
*.pem

############################################
# Dist output
############################################
/dist/
/doc
*.tar
