############################################
# Elixir / Mix
############################################
/_build/
/deps/
/erl_crash.dump
/.elixir_ls/
/coverage/
*.ez

############################################
# Tests & Coverage
############################################
/test/tmp/
test/tmp/
.excoveralls

############################################
# Hex package tarballs
############################################
*.tar

############################################
# Dialyzer
############################################
.plt
.plt.*

############################################
# Editor & OS junk
############################################
*.swp
*.swo
*.DS_Store
.idea/
.vscode/
*.log

############################################
# Secrets or local env (optional)
############################################
.env
.env.*
